<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- DataSource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/finisher_9"/>
        <property name="username" value="root"/>
        <property name="password" value=""/>
    </bean>

    <!-- DAO -->
    <bean id="orderDao" class="com.app.juiceshop.dao.OrderDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <!-- Service -->
    <bean id="orderService" class="com.app.juiceshop.service.OrderServiceImpl">
        <constructor-arg ref="orderDao"/>
    </bean>

    <!-- Controller -->
    <bean id="orderController" class="com.app.juiceshop.controller.OrderController">
        <constructor-arg ref="orderService"/>
    </bean>

</beans>
